<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fas fa-boxes me-2"></i>
            <strong>StockhubWeb</strong>
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/dashboard/organization/manage">
                <i class="fas fa-building me-2"></i>
                Управление организацией
            </a>
        </div>
    </nav>
</div>